<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>App Name</title>
    <link
      rel="stylesheet"
      href="/style.css"
    />
  </head>
  <body>
    <section class="responseObjectContainer">
      <h2>Search</h2>
      <section class="appPostFunctionality">
        <form
          action="/"
          method="POST"
          class="listHeader"
        >
          <input
            type="text"
            name="string"
            value=""
          />
          <textarea
            rows="6"
            cols="45"
            name="content"
          >
content</textarea
          >
          <button type="submit">Add item to db collection</button>
        </form>
      </section>
    </section>
    <script src="/main.js"></script>
  </body>
</html>
