<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>LeonStreamScripts</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Serif+Pro:wght@300;400&display=swap" rel="stylesheet">
  </head>
  <body id="main">
    <section id="search-panel">
      <h2 class="title-font">Search</h2>
      <section class="search all-ordered">
 			    <h2 class="search-label title-font" >by exact phrase</h2>
 			    <section class="form-container">
 					       <form action="/search/entry/allOrdered" method="GET" class="search-form all-ordered">
                    <label for="all-ordered-search"></label>
 						       <input class="search-input" type="text" name="entry" value="" placeholder="enter text here">
                    <input class="hidden" name="page" value="1">
 						       <button type="submit">Search</button>
 						     </form>
 				     </section>
 		 </section>
      <section class="search all-unordered">
   	    <h2 class="search-label title-font" >words appearing together in the same entry</h2>
   			<section class="form-container">
   					<form action="/search/entry/allUnordered" method="GET" class="search-form all-unordered">
               <label for="all-unordered-search"></label>
   						<input class="search-input" type="text" name="entry" value="" placeholder="enter text here">
               <input class="hidden" name="page" value="1">
   						<button type="submit">Search</button>
   						</form>
   				</section>
   		</section>
       <section class="search course-number">
     			<h2 class="search-label title-font" >browse by course number</h2>
     			<section class="form-container">
     					<form action="/search/timestamp/byCourseNumber" method="GET" class="search-form course-number">
                 <label for="selected-course">Select a Course Number to see all captions</label>
     						<div class="course-radio-container">
                       <label><input class="radio" type="radio" name="entry" value="1">1 - Become A Software Engineer</label>
                       <label><input class="radio" type="radio" name="entry" value="2">2 - Learn HTML</label>
                       <label><input class="radio" type="radio" name="entry" value="3">3 - Learn More HTML</label>
                       <label><input class="radio" type="radio" name="entry" value="4">4 - Learn CSS</label>
                       <label><input class="radio" type="radio" name="entry" value="5">5 - Learn CSS Layout</label>
                       <label><input class="radio" type="radio" name="entry" value="6">6 - Let's Review HTML & CSS</label>
                       <label><input class="radio" type="radio" name="entry" value="7">7 - Learn Responsive CSS</label>
                       <label><input class="radio" type="radio" name="entry" value="8">8 - Write Bad CSS</label>
                       <label><input class="radio" type="radio" name="entry" value="9">9 - Networking Night</label>
                       <label><input class="radio" type="radio" name="entry" value="10">10 - Rant & Review</label>
                       <label><input class="radio" type="radio" name="entry" value="11">11 - Learn CSS Layout & Flexbox</label>
                       <label><input class="radio" type="radio" name="entry" value="12">12 - Learn Javascript</label>
                       <label><input class="radio" type="radio" name="entry" value="13">13 - Fun Javascript Examples</label>
                       <label><input class="radio" type="radio" name="entry" value="14">14 - Javascript Functions For Beginners</label>
                       <label><input class="radio" type="radio" name="entry" value="15">15 - How To Start Freelancing</label>
                       <label><input class="radio" type="radio" name="entry" value="16">16 - Learn Javascript Loops</label>
                       <label><input class="radio" type="radio" name="entry" value="19">19 - Learn Javascript Arrays</label>
                       <label><input class="radio" type="radio" name="entry" value="20">20 - Practice Javascript Arrays</label>
                       <label><input class="radio" type="radio" name="entry" value="21">21 - Learn Javascript Objects</label>
                       <label><input class="radio" type="radio" name="entry" value="22">22 - Practice Javascript Objects</label>
                       <label><input class="radio" type="radio" name="entry" value="23">23 - Javascript APIs For Beginners</label>
                       <label><input class="radio" type="radio" name="entry" value="24">24 - Git And Github For Beginners</label>
                       <label><input class="radio" type="radio" name="entry" value="25">25 - Fix Your Resume So You Get Tech Interviews</label>
                       <label><input class="radio" type="radio" name="entry" value="26">26 - Build a Simple App Using APIs - Beginner Friendly</label>
                       <label><input class="radio" type="radio" name="entry" value="27">27 - Get Data From NASA! Simple Javascript API</label>
                       <label><input class="radio" type="radio" name="entry" value="28">28 - Javascript API Practice For Beginners</label>
                       <label><input class="radio" type="radio" name="entry" value="29">29 - Review The Basics Of Javascript</label>
                       <label><input class="radio" type="radio" name="entry" value="30">30 - OOP But It Actually Makes Sense</label>
                       <label><input class="radio" type="radio" name="entry" value="31">31 - What Is Inheritance & Polymorphism</label>
                       <label><input class="radio" type="radio" name="entry" value="32">32 - Object Oriented Programming w/ JS Review</label>
                       <label><input class="radio" type="radio" name="entry" value="33">33 - Why You Are Not Getting Interviews! Secrets To Landing Your First Tech Job</label>
                       <label><input class="radio" type="radio" name="entry" value="34">34 - Crush Your Technical Interviews! Secrets To Landing Your First Tech Job</label>
                       <label><input class="radio" type="radio" name="entry" value="35">35 - Easy Intro To Node, Promises & Async / Await</label>
                       <label><input class="radio" type="radio" name="entry" value="36">36 - Javascipt Event Loop For Beginners</label>
                       <label><input class="radio" type="radio" name="entry" value="37">37 - No Express ! Fullstack App Just Node</label>
                       <label><input class="radio" type="radio" name="entry" value="38">38 - Build Your Own API HOSTED On Heroku</label>
                       <label><input class="radio" type="radio" name="entry" value="39">39 - CRUD APIs For Beginners</label>
                       <label><input class="radio" type="radio" name="entry" value="40">40 - What Is MongoDB? CRUD Apps For Beginners</label>
                       <label><input class="radio" type="radio" name="entry" value="41">41 - Build A Simple CRUD App With Express, MongoDB, & EJS</label>
                       <label><input class="radio" type="radio" name="entry" value="44">44 - Part 1 - How To Build Fullstack Apps With Javascript! Easy To Understand!</label>
                       <label><input class="radio" type="radio" name="entry" value="45">45 - Part 2 - How To Build Fullstack Apps With Javascript! Easy To Understand!</label>
                       <label><input class="radio" type="radio" name="entry" value="46">46 - Part 1 - Build A Node.js MVC App! Complete Easy Walkthrough!</label>
                       <label><input class="radio" type="radio" name="entry" value="47">47 - Part 2 - Build A Node.js MVC App! Complete Easy Walkthrough! </label>

                 </div>
                 <input class="hidden" name="page" value="1">
     						<button class="button-search" type="submit">Browse</button>
     						</form>
     				</section>
     		</section>
    </section>
    <section id="main-right">
      <nav>
        <a href="/" class="title-font">LeonStreamScripts</a>
        <a href="https://github.com/collectivenectar">developer</a>
      </nav>
      <section id="intro">
        <h3 class="title-font">Introduction</h3>
        <p>
          This is a searchable collection of all the automatic captions generated
          by youtube for all of Leon Noels 100Devs streams - classes only - for 2022 so far (to #47).
        </p>
        <h4>You can click on the 'go to this section' button on a caption to play it!</h3>
        <p>
          Just a heads up! Automatic captioning by YouTube can be inaccurate - spelling
          can be off for nouns and pronouns especially. My hopes are that it will still
          be of use to you - especially the catchup crew!
        </p>
      </section>
    </section>
  </body>
</html>
