body{
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  overflow:hidden;
  background: linear-gradient(68deg, rgba(168,26,138,1) 0%, rgba(245,28,105,1) 50%, rgba(68,15,80,1) 93%);
  font-family: 'Source Serif Pro', sans-serif;
}
.hidden{
  display: none;
}
.title-font{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
#search-panel{
  width: 27vw;
  padding: 1rem;
  height: 100vh;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
}
#search-panel > h2{
  margin-top: 0;
  padding: 0.5em;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 30%;
  align-self: center;
}
.search{
  padding: 0.8rem;
  margin-bottom: 0.5em;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  backdrop-filter: blur(10px);
}
.course-radio-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  height: 5.5em;
  width: 90%;
  line-height: 1.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  padding: 1em 1em;
  margin: 1em 0 1em 0;
}
.course-radio-container > label{
  padding: 0 0.4em;
  border-radius: 1em;
  border: solid rgba(0, 0, 0, 0) 1px;
}
.course-radio-container > label:hover{
  background-color: rgba(168,26,138,0.4);
  border: solid rgba(168,26,138,1) 1px;
}
.course-radio-container > label > input{
  margin-top: -1px;
  margin-right: 1em;
  vertical-align: middle;
}
.search-label{
  font-size: 1.2em;
  text-align: center;
}
.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form > input{
  width: 90%;
  height: 2vh;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
.search-form > button{
  font-size: 1.2em;
  width: 50%;
  height: 2.5em;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, .35);
  border: none;
}
.search-form > button:hover{
  background-color: rgba(255, 255, 255, .75);
}
#main-right{
  width: 70%;
  display: flex;
  flex-direction: column;
}
#main-right > nav{
  width: 100%;
}
#main-right > nav > h2{
  text-align: center;
}
#intro{
  padding: 5em 7em;
  text-align: center;
}
#intro > *{
  line-height: 2em;
  font-size: 1.3em;
}
#intro > h3{
  font-size: 2em;
}
#player-container > iframe{
  display: block;
  margin: auto;
}
#results{
  width: 100%;
}
#results > h2{
  margin-top: 2em;
  margin-left: 7%;
}
#results-navigation{
  margin: 1em 0;
  height: 3.5em;
  padding: 0 2em;
}
.pagination{
  height: 3.5em;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  vertical-align: middle;
}
.pagination > * {
  list-style-type: none;
  width: 6%;
  margin-left: 0.3em;
}
.page-nav > a:hover{
  background-color: rgba(255, 255, 255, .75);
}
.page-nav > a{
  display: block;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  color: black;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 0;
}
.page-nav > a:active{
  box-shadow: none;
  border-radius: 0.5em;
}
.page-nav.disabled > a{
  background: rgba(0, 0, 0, 0.25)
}
#results-container{
  overflow: scroll;
  height: 38vh;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transcriptsList{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.transcript{
  list-style-type: none;
  height: 14em;
  line-height: 1.5em;
  padding: 0.2em;
  background-color: rgba(168,26,138, .35);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 90%;
  margin-bottom: 1em;
  border-radius: 5px;
}
.course-info{
  margin: 1em 0 1em 2em;
  width: 25%;
}
.course-info > ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}
.course-info > ul > li{
  font-size: 0.8em;
  margin: 0 1em 0 0;
  background-color: rgba(255, 255, 255, .05);
  border: solid rgba(0, 0, 0, .25) 1px;
  border-radius: 5px;
  padding: 0.1em 1em;
}
.caption{
  margin: 0 2em;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(168,26,138, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 1em 1em;
  border-radius: 5px;
}
.play-container{
  height: 3.5em;
  margin: 1em 2em;
}
.play-video:hover{
  background-color: rgba(255, 255, 255, 0.65);
}
.play-video{
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  width: 9em;
  background-color: rgba(168,26,138, 0.5);
  border: solid rgba(0, 0, 0, .25) 1px;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

@media all and (max-width: 480px){
  .caption{
    color: black;
  }
}
@media screen and (max-width: 540){

}
@media screen and (max-width: 640){

}
@media screen and (max-width: 800){

}
@media screen and (max-width: 960){

}
